@page "/home"
@namespace SmartRecipes.Server.Components.Pages.RazorComponents
@using SmartRecipes.Client.Application.Utilities

<PageTitle>Home</PageTitle>

<div class="body">
    <div class="main">
        <SearchBar />
        <p class="pop-recepies-title">Популярные рецепты:</p>
        <div class="pop-recepies">
            <Card CardType="CardTypes.Small" Model="new()"></Card>
            <Card CardType="CardTypes.Small" Model="new()"></Card>
            <Card CardType="CardTypes.Small" Model="new()"></Card>
            <Card CardType="CardTypes.Small" Model="new()"></Card>
        </div>
    </div>
</div>