@page "/home"

<PageTitle>Home</PageTitle>

<div class="body">
    <div class="main">
        <form class="search">
            <input type="text" placeholder="Найти рецепт блюда" class="search-input">
            <a href="search.html" class="search-container"><img src="search 1.svg" width="25px" height="25px"></a>
        </form>
        <p class="pop-recepies-title">Популярные рецепты:</p>
        <div class="pop-recepies">
            <div class="card">
                <img class="images" src="img/8_march.jpeg" width="120px" height="120px">
                <div>
                    <p class="card-title">Название блюда</p>
                    <p class="text">8 ингредиентов | 1 час</p>
                </div>
            </div>
            <div class="card">
                <img class="images" src="8_march.jpeg" width="120px" height="120px">
                <div>
                    <p class="card-title">Название блюда</p>
                    <p class="text">8 ингредиентов | 1 час</p>
                </div>
            </div>
            <div class="card">
                <img class="images" src="8_march.jpeg" width="120px" height="120px">
                <div>
                    <p class="card-title">Название блюда</p>
                    <p class="text">8 ингредиентов | 1 час</p>
                </div>
            </div>
            <div class="card">
                <img class="images" src="8_march.jpeg" width="120px" height="120px">
                <div>
                    <p class="card-title">Название блюда</p>
                    <p class="text">8 ингредиентов | 1 час</p>
                </div>
            </div>
        </div>
    </div>
</div>