@page "/liked"
@namespace SmartRecipes.Server.Components.Pages.RazorComponents
@using SmartRecipes.Client.Application.Utilities

<PageTitle>Liked</PageTitle>

<div class="body">
    <div class="main">
        <p class="pop-recepies-title">Понравившиеся Вам рецепты находятся здесь:</p>
        <div class="pop-recepies">
            <Card CardType="CardTypes.Wide" Model="new()"></Card>
            <Card CardType="CardTypes.Wide" Model="new()"></Card>
            <Card CardType="CardTypes.Wide" Model="new()"></Card>
            <Card CardType="CardTypes.Wide" Model="new()"></Card>
        </div>
    </div>
</div>