@page "/popular"
@namespace SmartRecipes.Server.Components.Pages.RazorComponents
@using SmartRecipes.Client.Application.Utilities

<PageTitle>Popular</PageTitle>

<div class="body">
    <div class="main">
        <p class="pop-recepies-title">Лучшие блюда за последний !!!</p>
        <div class="pop-recepies">
            <Card CardType="CardTypes.Wide" Model="new()" />
            <Card CardType="CardTypes.Wide" Model="new()" />
            <Card CardType="CardTypes.Wide" Model="new()" />
            <Card CardType="CardTypes.Wide" Model="new()" />
        </div>
    </div>
</div>