@page "/popular"

<PageTitle>Popular</PageTitle>

<div class="body">
    <div class="main">
        <p class="pop-recepies-title">Лучшие блюда за последний !!!</p>
        <div class="pop-recepies">
            <Card CardType="Client.Application.Utilities.CardTypes.Wide" Model="new()"></Card>
        </div>
    </div>
</div>