@page "/recommendations"

<PageTitle>Recommendations</PageTitle>

<div class="body">
    <div class="header">
        <a class="nav_home" href="newhome"><img src="logo.svg" width="100%" height="100%" alt="главная"></a>
        <a class="nav scale" href="popular">популярное</a>
        <a class="nav scale" href="recommendations">рекомендации</a>
        <a class="nav_home" href="sign_in"><img src="log-in.png" width="100%" height="100%" alt="аккаунт"></a>
    </div>
    <div class="main">
        <p class="pop-recepies-title">Исходя из ваших действий, нами подобраны блюда, которые могут вам понравиться:</p>
        <div class="pop-recepies">
            <div class="card long">
                <p class="card-title">Название блюда</p>
                <p class="text">8 ингредиентов | 1 час</p>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src=""></script>
</div>