@page "/search"

<PageTitle>Search</PageTitle>

<div class="body">
    <div class="main">
        <p class="pop-recepies-title">Вот что нашлось по запросу "..."</p>
        <div class="pop-recepies">
            <div class="card long">
                <p class="card-title">Название блюда</p>
                <p class="text">8 ингредиентов | 1 час</p>
            </div>
        </div>
    </div>
</div>