@page "/search"
@namespace SmartRecipes.Server.Components.Pages.RazorComponents
@using SmartRecipes.Client.Application.Utilities

<PageTitle>Search</PageTitle>

<div class="body">
    <div class="main">
        <p class="pop-recepies-title">Вот что нашлось по запросу "..."</p>
        <div class="pop-recepies">
            <Card CardType="CardTypes.Small" Model="new()" />
            <Card CardType="CardTypes.Small" Model="new()" />
            <Card CardType="CardTypes.Small" Model="new()" />
            <Card CardType="CardTypes.Small" Model="new()" />
        </div>
    </div>
</div>