@page "/sign_in"
@namespace SmartRecipes.Server.Components.Pages.RazorComponents

<PageTitle>Sign in</PageTitle>

<div class="body">
        <div class="header">
            <a class="nav_home" href="home"><img src="img/logo.svg" width="100%" height="100%" alt="главная"></a>
        </div>
        <div class="main">
            <Login />
            <Register />
        </div>
    </div>