.card {
    background: #e9e9e9;
    width: 30vw;
    height: 20vh;
    padding: 2vh 2vw 2vh;
    display: flex;
    flex-direction: row;
    border-radius: 0.8em;
    margin: 20px 20px 20px;
}

.images {
    border-radius: 0.8em;
    width: 35%;
    height: 100%;
}

.text {
    margin: 0.5vh 25px;
    font-family: 'Minecraft';
    font-size: 0.8em;
    text-align: start;
}

.card-title {
    margin: 0px 25px 10px;
    font-size: 1.25em;
    font-family: 'Press Start 2P';
}

.scale {
    transition: 0.4s;
}

.scale:hover {
    transform: scale(1.08);
}

.long {
    width: 900px;
}

.reactions {
    max-width: 20vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 50px;
    margin-left: 25px;
}