@namespace SmartRecipes.Client.Components
<!--Важно прописать namespace-->

<div class="header">
    <NavLink class="nav_home" href="home">
        <img src="img/logo.svg" width="100%" height="100%" alt="главная">
    </NavLink>
    <NavLink class="nav scale" href="popular">популярное</NavLink>
    <NavLink class="nav scale" href="recommendations">рекомендации</NavLink>
    <NavLink class="nav scale" href="liked">избранное</NavLink>
    <NavLink class="nav_home" href="sign_in">
        <img src="img/log-in.png" width="100%" height="100%" alt="аккаунт">
    </NavLink>
</div>