@using HTTPModels.Search

<EditForm Model="Model" OnSubmit="Submit" class="search">
    <InputText @bind-Value="Model.SearchString" class="search-input"></InputText>
    <button type="submit" class="search-container">
        <img src="search 1.svg" width="25px" height="25px">
    </button>
</EditForm>

@code {
    [Inject]
    public NavigationManager navManager { get; set; }

    public SearchRequest Model { get; set; }

    protected override void OnInitialized()
    {
        Model = new();
    }
    private void Submit()
    {
        
    }

}
